.ad {
    background: linear-gradient(91deg, #E26769 0.34%, #E88486 112.11%);
    padding: 9px 0 8px 0;
    margin-bottom: 20px;
    overflow: hidden;
    color: #fff;
}

@keyframes scroll-text {
    to { transform: translateX(-100%); }
}

.marquee {
overflow: hidden;
white-space: nowrap;
display: inline-block;
animation: scroll-text 23s linear infinite;
}