.body-lk { 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body-lk__content {
    flex: 1 0 auto;
}

.body-lk__footer {
    flex-shrink: 0;
}

.authorization__link {
    display: inline-block;
}

.authorization__container {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
