.popup__wrapt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
/* Важная часть */
/* Скрываем фон и сам попап Запрещаем ему быть целью событий */
.popup__bgt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none;
    transition: 0.5s all;
    z-index: 2;
}
/* При добавлении класса 'active'  Показываем фон и попап Возвращаем события */
.popup__bgt.active { 
    opacity: 1; 
    pointer-events: all;
    transition: 0.5s all;
}

/* Центрируем и масштабируем в 0 само окно */
.popupt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background: #fff;
    width: 290px;
    padding: 25px;
    transition: 0.5s all;
    border-radius: 15px;
}
/* Так же центрируем и плавно увеличиваем */
.popupt.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}

.textpopupt {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: purple;
    font-weight: bolder;
}

.close-popupt {
    background: linear-gradient(90.98deg, #E26769 0.34%, #E88486 112.11%);
    box-shadow: 0 10px 10px rgba(180, 27, 23, 0.3);
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-align: center;
}