.props {
    background-image: url(../img/pros/background-props.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.props__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.props__list {
    display: flex;
    flex-direction: column;
}

.props__item {
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 10px 70px 10px 40px;
    min-height: 120px;
    position: relative;
}

.props__item:last-child {
    margin-bottom: 0;
}

.props__item:nth-child(2)::before {
    position: absolute;
    content: url(../img/pros/manul_reads2.svg);
    right: 20px;
    bottom: 10px;
}

.props__item:nth-child(3)::before {
    position: absolute;
    content: url(../img/pros/beaver_russia.svg);
    right: 20px;
    bottom: 0;
}

.props__item-white {
    background: rgb(255, 255, 255);
}

.props__par {
    white-space: pre-line;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}

.props__span-violet {
    color: #831466;
}

.props__span-green {
    color: #145046;
}

.props__item-green {
    background-color: #76CECF;
}

.props__par-white {
    color: white;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    white-space: pre-line;
}

.props__span-white {
    font-size: 16px;
}

.props__item-blue {
    background-color: #5F87ED;
}

@media (max-width: 610px) {
    .props__par, .props__par-white {
        font-size: 14px;
        white-space: normal;
        width: 70%;
    }

    .props__par-first {
        width: 100%;
    }

    .props__item {
        margin-bottom: 20px;
    }

    .props__item:nth-child(2)::before {
        right: 0;
    }
    
    .props__item:nth-child(3)::before {
        right: 0;
    }
}

@media (max-width: 330px) {
    .props__par, .props__par-white {
        width: 60%;
    }
}