.props {
    background-image: url(../img/pros/background-props.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.props__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.props__list {
    display: flex;
    flex-direction: column;
}

.props__item {
    border-radius: 20px;
    margin-bottom: 60px;
    padding: 10px 70px 10px 40px;
    min-height: 120px;
}

.props__item-white {
    background: rgb(255, 255, 255);
}

.props__par {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}

.props__span-violet {
    color: #831466;
}

.props__span-green {
    color: #145046;
}

.props__item-green {
    background-color: #76CECF;
}

.props__par-white {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    white-space: pre-line;
}

.props__span-white {
    font-size: 16px;
}

.props__item-blue {
    background-color: #5F87ED;
}