.social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    .social {
        flex-direction: row;
    }
}
