.btn__link {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn__link::after {
    content: url(../img/icon/forvard.svg);
    object-fit: contain;
    position: absolute;
    padding: 3px;
}

.btn__link:hover {
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.btn__link:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__link-repeat {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn__link-repeat::after {
    content: url(../img/icon/repit.svg);
    object-fit: contain;
}

.btn__link-repeat:hover {
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.btn__link-repeat:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn__button::after {
    content: url(../img/icon/ok.svg);
    object-fit: contain;
}

.btn__button:hover {
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.btn__button:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#reloadGame {
    display: none;
}

.btn__link-home {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
}

.btn__link-home::after {
    content: url(../img/icon/home.svg);
    object-fit: contain;
    position: absolute;
    padding: 5px;
}

.btn__link-home:hover {
    box-shadow: 2px 8px 8px 2px rgba(0, 0, 0, 0.25);
}

.btn__link-home:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}


